body {
    width: 100vw;
    height: 100vh;
}


/* ========================= Loader ====================== */

div#local_loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
    background-color: #e5e9ec;
    background-image: url('./static/loader.svg');
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0; */
}


/* ========================= no connection ====================== */

div#no_connection {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
    background-color: #e6e6e6;
    display: none;
}

.content_container {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    margin-top: 100px;
}

.content_container img {
    width: 200px;
}

p.no_con_text,
h1.no_con_title {
    width: 400px;
    margin: 5px auto 10px;
}

a.no_con_retry {
    font-size: 20px;
    font-weight: bold;
}


/* ============== settings modal ==================== */

body.pms_settings {
    background-image: url('./static/sigin-background-image.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #e5e9ec;
    overflow: hidden;
}

.centered {
    width: 80%;
    margin: 0 auto;
}


/* ============== snackbar ==================== */

#snackbar {
    display: none;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
    margin: 0 10%;
}

#snackbar.show {
    visibility: visible;
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; */
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

table#keytar_up {
    width: 100%;
    border: 1px solid #ccc;
}

button.show_hide_pass {
    background: transparent;
    border: none;
    vertical-align: middle;
    color: #6782d2;
}

button.del_pass {
    background: transparent;
    border: none;
    color: #bd3c3c;
    vertical-align: middle;
}

button.dismiss_sb {
    color: #337ab7;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    width: 50px;
}

button#delete_account {
    color: #fff;
    background: #b73933;
    border: 1px solid #ef4d45;
    border-radius: 5px;
    padding: 5px 15px;
    height: 32px;
}

button#dismiss_sb {
    color: #fff;
    background: #337ab7;
    border: 1px solid #5ca4e2;
    border-radius: 5px;
    padding: 5px 15px;
    height: 32px;
    margin: 0 5px;
}

.settings_cb_cnt {
    padding: 0px;
    margin: 10px auto;
}

.account_container {
    display: none;
}

button#save_settings {
    background: #337ab7;
    border: 1px solid #5ca4e2;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}